<!DOCTYPE html>
<html>
<head>
	<title>View Sections</title>
</head>
<body>
<center>
<h1>Ver Secciones</h1>
<table border="1">
	<tr>
		<td>Id</td>
		<td>Nombre de la Seccion</td>
		<td>Descripcion</td>
		<td>Eliminar</td>
		<td>Modificar</td>	

	</tr>
	{% for item in secciones %}	
	<tr>
		<td>{{item.id}}</td>
		<td>{{item.section_name}}</td>
		<td>{{item.description}}</td>
		<td><center><a href="http:/0.0.0.0:8080/sect/delete_section?id={{item.id}}"><img width="30%"  height="30%" src="{{url_for('static', filename='Images/delete.png')}}"></a></center></td>
		<td><center><a href="http:/0.0.0.0:8080/sect/modify_section?id={{item.id}}"><img width="30%"  height="30%" src="{{url_for('static', filename='Images/edit.png')}}"></a></center></td>
	</tr>
	{%endfor%}
</table>
	
	</center>
</body>
</html>